body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}



/* Gabarito de cores */

/*
Amarelo claro: #F1DC9E
Bege: #D9C499
Marrom claro: #B6864B
Marrom escuro: #5B2A12
Verde oliva:	#888D1D
Verde musgo: #6E8123
Amarelo mostarda: #E8C21C
*/